// sass 문법으로 작성하면 
// css로 알맞게 컴파일 됌
// 모든 페이지에 필요한 CSS reset 이런것들을 넣는 것.
@import './Reset.scss'; // 이런 식으로 공통으로 쓰는 부분 처리가 가능함

$메인칼라 :  black;

.red { 
    color: $메인칼라;
}

// 애니메이션 시작 때 적용할 css
.wow-enter {
    opacity: 0;
}

// 애니메이션 동작 때 적용할 css
.wow-enter-activ {
    opacity: 1;
    transition: all 500ms;
}


// div.container h4{ 
//     color: blue;
// }
// div.container p{ 
//     color: green;
// }
// // SASS 문법
// // 3. 셀렉터 대신 쓰는 nesting
// div.container {
//     h4 { 
//         color: blue;
//     }
//     p { 
//         color: green;
//     }
// }



// mixin 함수 만드는 문법
// 긴 코드 짧게 축약하기 위하여 
@mixin  함수 () {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin:auto;
}

// 함수를 위에서 만들어놔야 @inclued가 가능해짐

.my-alert {
    // background-color: #eeeeee;
    // padding: 20px;
    // border-radius: 5px;
    // max-width: 500px;
    // width: 100%;
    // margin:auto;
    @include 함수
}

.my-alert2 {
    @extend .my-alert; //.my-alert에 있는 모든 속성을 적용 시켜주세요! 라는 의미!
    background: #ffe591;
}


.my-alert p {
    margin-bottom: 0;
}